<!-- <div class="dialog-container">
  <div class="close">
    <button mat-icon-button type="button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="top-input-header">
    <div class="title">
      <h2>Edit Why</h2>
    </div>
  </div>

  <form
    #formElement="ngForm"
    [formGroup]="dataForm"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
  >
    <mat-form-field appearance="outline" class="w-100 px-1">
      <mat-label>Title</mat-label>
      <textarea
        formControlName="title"
        matInput
        placeholder="Enter title"
        [rows]="3"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 px-1">
      <mat-label>Sub Title</mat-label>
      <textarea
        formControlName="subTitle"
        matInput
        placeholder="Enter subTitle"
        [rows]="3"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 px-1">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        matInput
        placeholder="Enter description"
        [rows]="3"
      ></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Update Why</button>
  </form>
</div> -->
