<div class="dialog-container">
  <div class="close">
    <button mat-icon-button type="button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="top-input-header">
    <div class="title">
      <h2>Edit User Data</h2>
    </div>
  </div>

  <form
    #formElement="ngForm"
    [formGroup]="dataForm"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
  >
    <mat-form-field appearance="outline" class="w-100 px-1">
      <mat-label>User Name</mat-label>
      <textarea
        formControlName="username"
        matInput
        placeholder="Enter username"
        [rows]="3"
      ></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Update User Data
    </button>
  </form>
</div>
